
<h5>日本各地のアイリッシュ・セッションの定番を共有して、セッションをもっと楽しむためのサイト</h5>
<p>
このサイトは大手アイリッシュ音楽サイト<%= link_to "Traditional Irish music on The Session", "https://thesession.org", :target => ["_blank"] %>(以下、The Session)を参考にして作成したレパートリー共有サイトです。<br />
譜面の殆どはThe Sessionから引用しています。また、登録されているセッショングループは架空の団体となります。
</p>
<p class="strong">当サイトは毎日0時にデータがリセットされます。ご注意ください</p>

<div id="i_menu">
  <ul>
    <li><%= link_to "このサイトについて", :about %></li>
<li><%= link_to "アイルランド音楽について", :irish %></li>
<li><%= link_to "使い方", :how_to %></li>
</div>


<h5>登録されているセッション・グループのログイン情報</h5>
<table class="group">
  <thead>
    <tr>
      <td>グループ名</td>
      <td>ログインID</td>
      <td>パスワード</td>
    <tr>
  </thead>
  <tbody>
    <tr>
      <td>関西アイリッシュセッション</td>
      <td>ksis</td>
      <td>kansaiyd</td>
    </tr>
    <tr>
      <td>関東アイルランド音楽セッション会</td>
      <td>eims</td>
      <td>kantou23</td>
    </tr>
    <tr>
      <td>南日本アイルランド音楽会</td>
      <td>sjim</td>
      <td>enjoy</td>
    </tr>
    <tr>
      <td>アイル・セッション・イン・北日本</td>
      <td>iinn</td>
      <td>hokuai</td>
    </tr>
    <tr>
      <td>ゲスト</td>
      <td>guest</td>
      <td>guest</td>
    </tr>
  </tbody>
</table>


<h4>Search Tunes</h4>
<%= render "shared/search_form" %>

<% if current_user %>
  <%= link_to "楽曲登録", new_tune_path %>
<% end %>


<h4>Recent Update</h4>
<dl>
  <% @recents.each do |recent| %>
    <dt>
      <%= link_to recent.tune.name, tune_path(recent.tune) %>
    </dt>
    <dd>
      <%= recent.tune.rhythm %>&emsp;
      by&nbsp;<%= link_to recent.user.name, tunes_path(user_name: recent.user.name) %>
      <%= link_to "info", info_user_path(recent.user.id), class: "small" %>
    </dd>
  <% end %>
</dl>