<h2><%= @user.name %></h2>
<div class="user_info">
  <dl>
    <dt>
      <%= :pref %>
    </dt>
    <dd>
      <%= @user.pref %>
    </dd>
    <dt>
      <%= :date %>
    </dt>
    <dd>
      <%= @user.date %>
    </dd>
    <dt>
      <%= :memo %>
    </dt>
    <dd>
      <%= @user.memo.present? ? @user.memo : "※Empty!" %>
    </dd>
  </dl>
</div>
<h4><%= @user.name %>が作成したABC譜</h4>
<% if @note.present? %>
  <table class="table">
    <thead>
      <tr>
        <td></td>
        <td>Title</td>
        <td>Rhythm</td>
        <td>Key, Scale</td>
      </tr>
    </thead>
    <tbody>
      <% @note.each_with_index do |note, idx| %>
        <tr>
          <td><%= idx + 1 -%></td>
          <td><%= link_to note.tune.name, tune_path(note.tune.id), class: "big" %></td>
          <td><%= note.tune.rhythm %></td>
          <td><%= note.key %>&nbsp;<%= note.scale %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>作成したABC譜はまだありません</p>
<% end %>