<h2><%= @user.name %></h2>
<dl>
  <dt>
    <%= :pref %>
  </dt>
  <dd>
    <%= @user.pref %>
  </dd>
  <dt>
    <%= :date %>
  </dt>
  <dd>
    <%= @user.date %>
  </dd>
  <dt>
    <%= :memo %>
  </dt>
  <dd>
    <%= @user.memo %>
  </dd>
</dl>

<h2><%= @user.name %>が作成したABC譜</h2>
<% @note.each_with_index do |note, idx| %>
  <div>
    <%= link_to note.tune.name, tune_path(note.tune.id) %>
    <%= note.tune.rhythm %>
    <%= note.key %>
    <%= note.scale %>
  </div>
<% end %>