<% if flash.alert %>
  <p class="alert">
    <%= flash.alert %>
  </p>
<% end %>
<ul class="account-menu">
  <li>Logging in <span id="user_popup"><%= current_user.name %></li>
  <li><%= button_to "ログアウト", :session, method: :delete %></li>
</ul>

<nav id="user_popup_menu">
  <ul>
    <li><%= link_to "会員情報の確認", user_path(current_user) %></li>
    <li><%= link_to "会員情報の編集", edit_user_path(current_user) %></li>
    <li><%= link_to "ログアウト", session_path, data: { turbo_method: "delete", turbo_confirm: "ログアウトしますか?" } %></li>
  </ul>
</nav>