<% if flash.alert %>
  <p class="alert">
    <%= flash.alert %>
  </p>
<% end %>
<ul id="account-menu">
  <li>Logging in <%= link_to current_user.name, "", id: "user_popup" %></li>
  <li>Logging in <a href="javascript: void(0)" id="user_popup"><%= current_user.name %></a>
  <li><%= button_to "ログアウト", :session, method: :delete %></li>
</ul>

<nav id="user_popup_menu">
  <ul>
    <li><%= link_to "会員情報の確認", user_path(current_user) %></li>
    <li><%= link_to "会員情報の編集", edit_user_path(current_user) %></li>
    <li><%= link_to "パスワードの変更", edit_password_path %>
    <li><%= link_to "ログアウト", session_path, data: { turbo_method: "delete", turbo_confirm: "ログアウトしますか?" } %></li>
  </ul>
</nav>