<h1><%= @tune.name %></h1>
<h2><%= @tune.rhythm %></h2>
<p><%= @tune.memo if @tune.memo.present? %></p>

<script>let abc;</script>
<% @tune.notes.each_with_index do |note,idx| %>
  <h3><%= idx + 1 %></h3>
  <p>作成者:<%= note.user.name %></p>
  <div class="abc">
    <%= h(note.abc).gsub("\n", "<br />").html_safe %>
  </div>
  <%= note.memo if note.memo.present? %>
  <div id="paper" class="score">
    <script>
        abc = `<%= note.abc.gsub("\n","\\n") %>`;
        ABCJS.renderAbc("paper", abc);
    </script>
  </div>
<% end %>

<%= render "shared/search_form" %>