<!DOCTYPE html>
<html>
  <head>
    <title>Session.jp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <header>
      <div id="logo">
        <h1><%= link_to "Session.JP", root_path%></h1>
      </div>
      <div id="menu">
        <% unless current_page?( new_user_path || edit_user_path ) %>
          <% if current_user %>
            <%= render "shared/logging"%>
          <% else %>
            <%= render "shared/login_form" %>
          <% end %>
        <% end %>
      </div>
    </header>
    <div class="clear"></div>
    <main>
    <%= yield %>
    </main>
    <footer>
      <% unless current_page?(root_path) %>
        <div id="f_menu">
          <%= link_to "戻る", 'javascript:history.back()' %>
          <%= link_to "Top", root_path %>
        </div>
      <% end %>
      <p>&copy;2023</p>
    </>
  </body>
</html>